<!DOCTYPE html>
<html>
    <head>
        <title>All Equipment</title>
    </head>
    <body>
        <a href="{% url 'add_equipment' %}">
            Add Equipment
        </a>
        {% for equipment in all_equipment %}
        <div>
            <p>{{ equipment.equipment_id }}</p>
            <p>{{ equipment.equipment_model }}</p>
            <p>{{ equipment.equipment_category }}</p> 
            <p>{{ equipment.equipment_name }}</p> 
            <p>{{ equipment.equipment_description }}</p>
            {% if not equipment.equipmentonmission_set.exists and not equipment.damagedequipment_set.exists and not equipment.equipmentonmaintenance_set.exists %}
            <p>Status: Available</p>
            <form method="post" action="{% url 'deploy_equipment_on_mission' equipment.id %}">
                {% csrf_token %}
                <button type="submit">Deploy in Mission</button>
            </form>
            <form method="post" action="{% url 'move_equipment_to_maintenance' equipment.id %}">
                {% csrf_token %}
                <button type="submit">Move in Maintenance</button>
            </form>
            <form method="post" action="{% url 'move_equipment_to_damaged_equipment' equipment.id %}">
                {% csrf_token %}
                <button type="submit">Move in Damaged Equipment</button>
            </form>
            {% elif equipment.equipmentonmission_set.exists %}
                {% if equipment.damagedequipment_set.exists and equipment.equipmentonmission_set.exists %}
                    <p>Status: Broken</p>
                {% elif equipment.equipmentonmission_set.exists %}
                    <p>Status: On Mission</p>
                {% endif %}
            {% elif equipment.equipmentonmaintenance_set.exists %}
                <p>Status: Under Maintenance</p>
            {% elif equipment.damagedequipment_set.exists %}
                <p>Status: Broken</p>
            {% endif %}
        </div>
        {% endfor %}
    </body>
</html>
