<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>
            <div>
                <a href="{% url 'all_equipment' %}"><button>View All Equipment</button></a>
                <a href="{% url 'equipment_on_mission' %}"><button>View All Equipment On Mission</button></a>
                <a href="{% url 'equipment_on_maintenance' %}"><button>View All Equipment On Maintenance</button></a>
                <a href="{% url 'damaged_equipment' %}"><button>View All Damaged Equipment</button></a>
            </div>
        </div>
    </body>
</html>
